// 引入官方提供的 less 样式入口文件
@import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.compact.less';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.full {
  width: 100%;
  height: 100%;

  position: relative;
}

.move-handler-placeholder {
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  // 提高到最顶层
  z-index: 100;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

// 自定义 react-grid-layout 样式
.react-grid-item:not(.react-grid-placeholder) {
  border: 1px solid #efefef;
}
