.ring-plot-container.plot-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px;

  .ring-progress-container {
    height: 100%;

    .statistic-icon-container {
      svg {
        width: 100%;
        height: 100%;
      }
      svg:not(:root) {
        overflow: visible;
      }
    }
  }
}

@media (max-width: 680px) {
  .ring-plot-container.plot-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
  }
}

// 对应暗黑主题
body[data-theme='dark'] {
  .ring-progress-container .g2-html-annotation {
    color: rgba(255, 255, 255, 0.85) !important;
  }
}
